@import url('https://fonts.googleapis.com/css2?family=Julee&family=Space+Grotesk:wght@700&family=Ubuntu:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Julee&family=Space+Grotesk:wght@700&family=Tilt+Prism&family=Ubuntu:wght@700&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Tilt Prism', cursive;
  /* font-family: 'Ubuntu', sans-serif; */
}
